@model ProductDTO
@{
	Layout="_Layout";
}

     <!-- Login Form -->
      <form method="post">
        <input type="text" id="login" class="fadeIn second" name="Name" placeholder="Name">
        <input type="text" id="password" class="fadeIn third" name="Rating" placeholder="Rating">
        <input type="text" id="password" class="fadeIn third" name="Price" placeholder="Price">
        <input type="text" id="password" class="fadeIn third" name="ImgPath" placeholder="ImgPath">
        <input type="text" id="password" class="fadeIn third" name="Note" placeholder="Note">
        <input type="submit" class="fadeIn fourth" value="Sign Up">
      </form>
